{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint-config-prettier",
    "plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "quotes": [
      "error",
      "backtick"
    ]
  }
}
